<!DOCTYPE html>
<html>
<head>
    <title>물품 관리</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/ItemManagement.css' />
    <script src="/javaScripts/itemManagement.js"></script>
</head>
<body>
<h1>물품관리</h1><br>
<div class="itemSearch">
    <select name="searchCategory" id="searchCategory">
        <option value="itemName">물품이름</option>
        <option value="lenderName">대여자이름</option>
    </select>
    <input type="text" name="input_search" id="input_search">
    <button type="submit" name="btn_search" id="btn_search" onclick="searchBtnEvent()">검색</button>
</div>
<div class="category_filter">
    <select name="parentCategory" id="parentCategory" onchange="changeParentCategory()">
        <option value="전체">전체</option>
        <% categories.map((res) => {%>
            <option value=<%res.name%>><%=res.name%></option>
        <%})%>
    </select>
    <select name="childCategory" id="childCategory" onchange="changeChildCategory()">
        <option value="">전체</option>
    </select>
</div>
<div class="listSort">
    <select>
        <option value="name">이름 순</option>
        <option value="date">등록일 순</option>
    </select>
</div>
<div class="itemInfoList">
    <table class="itemInfoListTable" id="itemInfoListTable">
        <thead>
            <tr>
                <th>물품 대분류</th>
                <th>물품 소분류</th>
                <th>물품 이름</th>
                <th>물품 번호</th>
                <th>대여 가능 여부</th>
                <th>반납 필요 여부</th>
                <th>대여 가능 수량</th>
                <th>대여 중 수량</th>
                <th>총 수량</th>
                <th>등록일(최종 수정일)</th>
            </tr>
        </thead>
        <tbody id="tr_itemInfoList">
        <%items.map(res => { %>
        <tr>
            <td><%=res.category.parentCategory%></td>
            <td><%=res.category.childCategory%></td>
            <td><%=res.name%></td>
            <td><%=res.number%></td>
            <td><%=res.available.rental%></td>
            <td><%=res.available.return%></td>
            <td><%=res.count.remaining%></td>
            <td><%=res.count.all - res.count.remaining%></td>
            <td><%=res.count.all%></td>
            <td><%=res.createDate%></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>

</body>
</html>
