<!DOCTYPE html>
<html>
<head>
    <title>물품 관리</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <link rel='stylesheet' href='/stylesheets/itemCreate.css' />
    <link rel='stylesheet' href='/stylesheets/itemManagement.css' />
    <script defer src="/javaScripts/itemManagement.js"></script>
    <!--SheetJS 라이브러리 사용-->
    <script src="/javaScripts/xlsx.full.min.js"></script>
    <script>
        function putExcel(){
            let itemTable = XLSX.utils.table_to_book(document.getElementById('itemInfoListTable'), {sheet:"물품목록", raw:true});
            XLSX.writeFile(itemTable, ('물품목록.xlsx'));
        }
    </script>
</head>
<body>
<%- include('./nav.ejs')%>
<div class="itemManagementBody">
    <h1>물품관리</h1>
    <div class="itemSearch" id="itemSearch">
        <select name="parentCategory" id="parentCategory" onchange="changeParentCategory()">
            <option value="전체">대분류 전체</option>
            <% categories.map((res) => {%>
            <option value=<%res.name%>><%=res.name%></option>
            <%})%>
        </select>
        <select name="childCategory" id="childCategory" onchange="changeChildCategory()">
            <option value="">소분류 전체</option>
        </select>
        <select name="searchCategory" id="searchCategory">
            <option value="itemName">물품이름</option>
            <option value="lenderName">대여자이름</option>
        </select>
        <input class="input_search" type="text" name="input_search" id="input_search">
        <button class="btn-search" name="btn_search" id="btn_search" onclick="searchBtnEvent()"><img class="search-icon" src="/img/search.png"></button>
    </div>
    <div class="itemInfoList">
        <table id="itemInfoListTable">
            <caption><button class="btn-put-excel" id="btn_put_excel" onclick="putExcel()"><img class="excel-icon" src="/img/excel.png">&nbsp 엑셀로 변환</button></caption>
            <thead>
                <tr>
                    <th scope="col">물품 번호</th>
                    <th scope="col">물품 대분류</th>
                    <th scope="col">물품 소분류</th>
                    <th scope="col" style="cursor: pointer;" onclick="tableSort(2)">물품 이름</th>
                    <th scope="col">대여 가능 여부</th>
                    <th scope="col">반납 필요 여부</th>
                    <th scope="col">대여 가능 수량</th>
                    <th scope="col">대여 중 수량</th>
                    <th scope="col">총 수량</th>
                    <th scope="col" style="cursor: pointer;" onclick="tableSort(9)">최종 수정일</th>
                    <th scope="col">관리자 기능</th>
                </tr>
            </thead>
            <tbody id="tr_itemInfoList">
            <%items.map(res => { %>
            <tr>
                <td><%=res.number%></td>
                <td><%=res.category.parentCategory%></td>
                <td><%=res.category.childCategory%></td>
                <td class="btn-rent" onclick="rentModalView('<%=res.name%>', '<%=res.code%>')"><%=res.name%></td>
                <td><%=res.available.rental%></td>
                <td><%=res.available.return%></td>
                <td><%=res.count.remaining%></td>
                <td><%=res.count.all - res.count.remaining%></td>
                <td><%=res.count.all%></td>
                <td><%=res.createDate%></td>
                <td>
                    <button class="btn-manager" onclick="editItem('<%=res._id%>')"><img class="manage-icon" src="/img/edit.png"></button>
                    <button class="btn-manager" onclick="deleteItem('<%=res._id%>')"><img class="manage-icon" src="/img/trash.png"></button>
                    <button class="btn-open-lender btn-manager" onclick="lenderList('<%=res.name%>', <%= JSON.stringify(res.lender) %>)"><img class="manage-icon" src="/img/customer.png"></button>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <div class="lenders_modal" id="lenders_modal">
            <div class="lenders_modal_body" id="lenders_modal_body">
            </div>
        </div>
        <%- include('./rentItem.ejs')%>
    </div>
</div>
</body>
</html>
