<!DOCTYPE html>
<html>
<head>
    <title>물품 관리</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <link rel='stylesheet' href='/stylesheets/itemCreate.css' />
    <link rel='stylesheet' href='/stylesheets/itemEdit.css' />
    <link rel='stylesheet' href='/stylesheets/itemManagement.css' />
    <link rel='stylesheet' href='/stylesheets/table.css' />
    <script defer src="/javaScripts/itemManagement.js"></script>
    <script defer src="/javaScripts/itemEdit.js"></script>
    <script defer src="/javaScripts/managerFunction.js"></script>
    <script defer src="/javaScripts/itemPutExcel.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <!--SheetJS 라이브러리 사용-->
    <script src="/javaScripts/xlsx.full.min.js"></script>
    <script src="/javaScripts/FileSaver.min.js"></script>
</head>
<body>
<%- include('./nav.ejs')%>
<div class="itemManagementBody">
    <h1>물품관리</h1>
    <div class="itemSearch" id="itemSearch">
        <select name="parentCategory" id="parentCategory" onchange="changeParentCategory()">
            <option value="전체">대분류 전체</option>
            <% categories.map((res) => {%>
            <option value=<%res.name%>><%=res.name%></option>
            <%})%>
        </select>
        <select name="childCategory" id="childCategory" onchange="changeChildCategory()">
            <option value="">소분류 전체</option>
        </select>
        <select name="searchCategory" id="searchCategory">
            <option value="itemName">물품이름</option>
            <option value="lenderName">대여자이름</option>
        </select>
        <input class="input_search" type="text" name="input_search" id="input_search">
        <button class="btn-search" name="btn_search" id="btn_search" onclick="searchBtnEvent()"><img class="search-icon" src="/img/search.png"></button>
    </div>
    <div class="itemInfoList">
        <div id="div-put-excel">
            <button class="btn-put-excel" id="btn_put_excel" onclick="putExcel(<%=JSON.stringify(items)%>)"><img class="excel-icon" src="/img/excel.png">&nbsp 엑셀로 변환</button>
        </div>
        <table id="itemInfoListTable">
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">대분류</th>
                    <th scope="col">소분류</th>
                    <th scope="col" style="cursor: pointer;" onclick="tableSort(2)">물품 이름▼</th>
                    <th scope="col">대여 가능</th>
                    <th scope="col">반납 필요</th>
                    <th scope="col">남은 수량</th>
                    <th scope="col">대여중 수량</th>
                    <th scope="col">총 수량</th>
                    <th scope="col" style="cursor: pointer;" onclick="tableSort(9)">최종 수정일▼</th>
                    <th scope="col">관리자 기능</th>
                </tr>
            </thead>
            <tbody id="tr_itemInfoList">
            <%items.map(res => { %>
            <% let date = res.createDate.getFullYear()
                    + "." + (res.createDate.getMonth() + 1)
                    + "." + res.createDate.getDate()%>
            <tr>
                <td><%=res.number%></td>
                <td><%=res.category.parentCategory%></td>
                <td><%=res.category.childCategory%></td>
                <td class="btn-rent" onclick="rentModalView(<%=JSON.stringify(res)%>)"><%=res.name%></td>
                <td><%=res.available.rental ? "O" : "X"%></td>
                <td><%=res.available.return ? "O" : "X"%></td>
                <td><%=res.count.all-res.count.renting%></td>
                <td><%=res.count.renting%></td>
                <td><%=res.count.all%></td>
                <td><%=date%></td>
                <td>
                    <button class="btn-manager" onclick="editItem('<%=res._id%>')"><img class="manage-icon" src="/img/edit.png"></button>
                    <button class="btn-manager" onclick="deleteItem('<%=res._id%>')"><img class="manage-icon" src="/img/trash.png"></button>
                    <button class="btn-open-lender btn-manager" onclick="lenderList('<%=res.name%>', <%= JSON.stringify(res.rentInfo) %>)"><img class="manage-icon" src="/img/customer.png"></button>
                    <button class="btn-open-rentHistory btn-manager" onclick="rentHistory(<%= JSON.stringify(res) %>)"><img class="manage-icon" src="/img/history.png"></button>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <div class="lenders_modal" id="lenders_modal">
            <div class="lenders_modal_body" id="lenders_modal_body">
            </div>
        </div>
        <%- include('./rentHistory.ejs')%>
        <%- include('./rentItem.ejs')%>
        <%- include('./editItem.ejs')%>
    </div>
</div>
</body>
</html>
