<!--
    * 담당자 : 강재민
    * 설명 : 전체적인 물품을 관리할 수 있는 페이지
    * 주요기능 : 검색란, 물품테이블 등이 존재하고, 초기데이터를 받아와 렌더링 해주기위해 전체 물품을 찾아 ejs기능을 활용하여 데이터를 표시해주었음
-->
<!DOCTYPE html>
<html>
<head>
    <title>물품 관리</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/nav.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/itemCreate.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/itemEdit.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/itemManagement.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/table.css' />
    <script defer src="/javaScripts/itemManagement.js"></script>
    <script defer src="/javaScripts/itemEdit.js"></script>
    <script defer src="/javaScripts/managerFunction.js"></script>
    <script defer src="/javaScripts/itemPutExcel.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <!--SheetJS 라이브러리 사용-->
    <script src="/javaScripts/library/xlsx.full.min.js"></script>
    <script src="/javaScripts/library/FileSaver.min.js"></script>
</head>
<body>
<%- include('../layouts/nav.ejs')%>
<div class="itemManagementBody">
    <h1>물품관리</h1>
    <div class="itemSearch" id="itemSearch">
        <select class="select-itemManagement" name="parentCategory" id="parentCategory" onchange="changeParentCategory()">
            <option value="전체">대분류 전체</option>
            <% categories.map((res) => {%>
            <option value=<%res.name%>><%=res.name%></option>
            <%})%>
        </select>
        <select class="select-itemManagement" name="childCategory" id="childCategory" onchange="changeChildCategory()">
            <option value="">소분류 전체</option>
        </select>
        <select class="select-itemManagement" name="searchCategory" id="searchCategory">
            <option value="itemName">물품이름</option>
            <%if(authority.openAuthority){%>
            <option value="lenderName">대여자이름</option>
            <%}%>
        </select>
        <input class="input_search" type="text" name="input_search" id="input_search">
        <button class="btn-search" name="btn_search" id="btn_search" onclick="searchBtnEvent()"><img class="search-icon" src="/img/search.png"></button>
    </div>
    <div class="div-put-excel" id="div-put-excel">
        <% if(authority.openAuthority){ %>
        <button class="btn-secondary" id="btn_put_excel" onclick="putExcel(<%=JSON.stringify(items)%>)"><img class="excel-icon" src="/img/excel.png">&nbsp 엑셀로 변환</button>
        <%}%>
        <button class="btn-secondary">물품 등록</button>
    </div>
    <div class="tableWrapper itemInfoList">
        <table id="itemInfoListTable">
            <thead>
                <tr>
                    <th scope="col">대분류</th>
                    <th scope="col">소분류</th>
                    <th scope="col" style="cursor: pointer;" onclick="tableSort(2)">물품 이름▼</th>
                    <th scope="col">코드</th>
                    <th scope="col">대여 가능</th>
                    <th scope="col">반납 필요</th>
                    <th scope="col">남은 수량</th>
                    <th scope="col">대여중 수량</th>
                    <th scope="col">총 수량</th>
                    <th scope="col" style="cursor: pointer;" onclick="tableSort(9)">최종 수정일▼</th>
                    <th scope="col">관리자 기능</th>
                </tr>
            </thead>
            <tbody id="tr_itemInfoList">
            <%items.map(res => { %>
            <% let date = res.createDate.getFullYear()
                    + "." + (res.createDate.getMonth() + 1)
                    + "." + res.createDate.getDate()%>
            <tr>
                <td><%=res.category.parentCategory%></td>
                <td><%=res.category.childCategory%></td>
                <td class="btn-rent" onclick="rentModalView(<%=JSON.stringify(res)%>)"><%=res.name%></td>
                <td><%=res.code%></td>
                <td><%=res.available.rental ? "O" : "X"%></td>
                <td><%=res.available.return ? "O" : "X"%></td>
                <td><%=res.count.all-res.count.renting%></td>
                <td><%=res.count.renting%></td>
                <td><%=res.count.all%></td>
                <td><%=date%></td>
                <td>
                    <% if(authority.editAuthority){ %>
                    <button title="물품 편집" class="btn-manager" onclick="editItem('<%=res._id%>')"><img class="manage-icon" src="/img/edit.png"></button>
                    <button title="물품 삭제" class="btn-manager" onclick="deleteItem('<%=res._id%>')"><img class="manage-icon" src="/img/trash.png"></button>
                    <%}%>
                    <% if(authority.openAuthority){%>
                    <button title="대여자 목록" class="btn-open-lender btn-manager" onclick="lenderList('<%=res.name%>', <%= JSON.stringify(res.rentInfo) %>)"><img class="manage-icon" src="/img/customer.png"></button>
                    <button title="물품 대여 이력" class="btn-open-rentHistory btn-manager" onclick="rentHistory(<%= JSON.stringify(res) %>)"><img class="manage-icon" src="/img/history.png"></button>
                    <%}%>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <%- include('./lenders.ejs')%>
        <%- include('./rentHistory.ejs')%>
        <%- include('./rentItem.ejs')%>
        <%- include('./editItem.ejs')%>
    </div>
</div>
</body>
</html>
