<!--
    * 담당자 : 강재민
    * 설명 : 내가 현재 대여중인 물품들을 표시하고, 반납할 수 있게 하기 위한 페이지
    * 주요기능 : 현재 본인이 대여중인 물품들만을 보여주고, 반납할 수 있는 버튼이 있음
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>나의 대여 현황</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/myRental.css' />
    <link rel="stylesheet" href="/stylesheets/table.css"/>
    <script defer src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script defer src="/javaScripts/rent/myRental.js"></script>
    <script defer src="/javaScripts/rent/myPage.js"></script>
</head>
<body>
<%- include('../layouts/nav.ejs')%>
<div class="myRentalUserIcon">
    <img class="userIcon" src="/img/userIcon.png" width="150px" height="150px">
    <h2><%=userInfo.name%></h2>
</div>
<div class="myRentalInfoList">
    <ul class="tab-container">
        <li class="tab-container__item active" data-tab="tab1">
            <a class="tab-container__item--title" href="#">회원 정보</a>
        </li>
        <li class="tab-container__item" data-tab="tab2">
            <a class="tab-container__item--title" href="#">대여 중인 물품</a>
        </li>
        <li class="tab-container__item" data-tab="tab3">
            <a class="tab-container__item--title" href="#">대여 이력</a>
        </li>
    </ul>
    <section class="content-container">
        <article id="tab1" class="content-container__content target">
            <p>
            <div class="userInfoList">
                <label class="myPage_label"> 이름 :
                    <input type="text" id="myPage_name" class="myPage_input" value='<%= userInfo.name%>' readonly>
                </label>
                <label class="myPage_label">부서 :
                    <input type="text" id="myPage_department" class="myPage_input" value='<%= userInfo.department%>' readonly>
                </label>
                <label class="myPage_label">직책 :
                    <input type="text" id="myPage_role" class="myPage_input" value='<%= userInfo.role%>' readonly>
                </label>
                <label class="myPage_label">사번 :
                    <input type="text" id="myPage_workNumber" class="myPage_input" value='<%= userInfo.workNumber%>' readonly>
                </label>
                <label class="myPage_label">메일 :
                    <input type="text" id="myPage_email" class="myPage_input" value='<%= userInfo.email%>' readonly>
                </label>
                <div class="btn_MyPage">
                    <button class="btn-return" id="btn_editUser" onclick="editUser()">회원 정보 수정</button>
                </div>
            </div>
            </p>
        </article>
        <article id="tab2" class="content-container__content">
            <p>
            <div class="tableWrapper_default rentInfoList">
                <table id="rentInfoListTable">
                    <thead>
                    <tr>
                        <th scope="col">물품 대분류</th>
                        <th scope="col">물품 소분류</th>
                        <th scope="col">물품명</th>
                        <th scope="col">물품 코드</th>
                        <th scope="col">대여일</th>
                        <th scope="col">반납 예정일</th>
                        <th scope="col">대여 사유</th>
                        <th scope="col">반납</th>
                    </tr>
                    </thead>
                    <tbody id="tr_rentInfoList">
                    <% rentInfo.map(res => {%>
                        <% let rentDate = res.rentDate.getFullYear()
                                + "." + (res.rentDate.getMonth() + 1)
                                + "." + res.rentDate.getDate()
                                + " / " + res.rentDate.getHours()
                                + " : " + res.rentDate.getMinutes()
                        %>
                        <% let returnPlanDate = res.returnPlanDate.getFullYear()
                                + "." + (res.returnPlanDate.getMonth() + 1)
                                + "." + res.returnPlanDate.getDate()
                                + " / " + res.returnPlanDate.getHours()
                                + " : " + res.returnPlanDate.getMinutes()
                        %>
                        <tr>
                            <td><%=res.itemInfo.category.parentCategory%></td>
                            <td><%=res.itemInfo.category.childCategory%></td>
                            <td><%=res.itemInfo.name%></td>
                            <td><%=res.itemInfo.code%></td>
                            <td><%=rentDate%></td>
                            <td><%=returnPlanDate%></td>
                            <td><%=res.purpose%></td>
                            <td><button class="btn-return" onclick="returnItem('<%=res._id%>', '<%=res.itemInfo._id%>')">반납하기</button></td>
                        </tr>
                    <%});%>
                    </tbody>
                </table>
            </div>
            </p>
        </article>
        <article id="tab3" class="content-container__content">
            <p>
            <div class="tableWrapper_default returnInfoList">
                <table id="returnInfoListTable">
                    <thead>
                    <tr>
                        <th scope="col">물품 대분류</th>
                        <th scope="col">물품 소분류</th>
                        <th scope="col">물품명</th>
                        <th scope="col">물품 코드</th>
                        <th scope="col">대여일</th>
                        <th scope="col">반납일</th>
                        <th scope="col">대여 사유</th>
                        <th scope="col">반납</th>
                    </tr>
                    </thead>
                    <tbody id="tr_returnInfoList">
                    <% returnInfo.map(res => {%>
                        <% let rentDate = res.rentDate.getFullYear()
                                + "." + (res.rentDate.getMonth() + 1)
                                + "." + res.rentDate.getDate()
                                + " / " + res.rentDate.getHours()
                                + " : " + res.rentDate.getMinutes()
                        %>
                        <% let returnDate = res.returnDate ?  (res.returnDate.getFullYear()
                                + "." + (res.returnDate.getMonth() + 1)
                                + "." + res.returnDate.getDate()
                                + " / " + res.returnDate.getHours()
                                + " : " + res.returnDate.getMinutes()) : null
                        %>
                        <tr>
                            <td><%=res.itemInfo.category.parentCategory%></td>
                            <td><%=res.itemInfo.category.childCategory%></td>
                            <td><%=res.itemInfo.name%></td>
                            <td><%=res.itemInfo.code%></td>
                            <td><%=rentDate%></td>
                            <td><%=returnDate%></td>
                            <td><%=res.purpose%></td>
                            <td>
                                <% if(res.itemInfo.available.return){ %>
                                    반납완료
                                <%} else {%>
                                    반납불필요
                                <%}%>
                            </td>
                        </tr>
                    <%});%>
                    </tbody>
                </table>
            </div>
            </p>
        </article>
    </section>
</div>
<div class="editUserModal">
    <div class="editUserModal_body">
        <h2 class="myPage_h2">유저 정보 수정</h2>
            <label class="myPage_label"> 이름 :
                <input type="text" id="myPage_name_edit" class="myPage_input" value='<%= userInfo.name%>'>
            </label>
            <label class="myPage_label">부서 :
                <input type="text" id="myPage_department_edit" class="myPage_input" value='<%= userInfo.department%>' >
            </label>
            <label class="myPage_label">직책 :
                <select type="text" id="myPage_role_edit" class="myPage_input" value='<%= userInfo.role%>' >
                    <option value="대표" <%= userInfo.role === "대표" ? "selected" : ""%> >대표</option>
                    <option value="부장" <%= userInfo.role === "부장" ? "selected" : ""%>>부장</option>
                    <option value="팀장" <%= userInfo.role === "팀장" ? "selected" : ""%>>팀장</option>
                    <option value="대리" <%= userInfo.role === "대리" ? "selected" : ""%>>대리</option>
                    <option value="사원" <%= userInfo.role === "사원" ? "selected" : ""%>>사원</option>
                </select>
            </label>
            <label class="myPage_label">사번 :
                <input type="text" id="myPage_workNumber_edit" class="myPage_input" value='<%= userInfo.workNumber%>' readonly>
            </label>
            <label class="myPage_label">메일 :
                <span id="email_message_edit"></span>
                <input type="text" id="myPage_email_edit" class="myPage_input" value='<%= userInfo.email%>' onkeyup="emailEditTest()" >
            </label>

            <div class="btn_MyPage">
                <button type="submit" class="btn-return" onclick="edit(<%=userInfo.workNumber%>)">회원정보 수정</button>
            </div>
            <label class="myPage_label">비밀번호 :
                <span id="password_message_edit"></span>
                <input type="password" id="myPage_password_edit" class="myPage_input" value='' onkeyup="passwordEditTest()" >
            </label>
            <label class="myPage_label">비밀번호 확인 :
                <span id="passwordConfirm_message_edit"></span>
                <input type="password" id="myPage_passwordConfirm_edit" class="myPage_input" value='' onkeyup="passwordEditTest()" >
            </label>
            <div class="btn_MyPage">
                <button type="submit" class="btn-return" onclick="passwordEdit(<%=userInfo.workNumber%>)">비밀번호 수정</button>
            </div>

    </div>
</div>
</body>
