<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>나의 대여 현황</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/myRental.css' />
    <link rel="stylesheet" href="/stylesheets/table.css"/>
    <script defer src="/javaScripts/myRental.js"></script>
</head>
<body>
<%- include('../layouts/nav.ejs')%>
<h1><%=name%>님의 대여 현황</h1>
<div class="rentInfoList">
    <table id="rentInfoListTable">
        <caption>대여 중인 물품</caption>
        <thead>
        <tr>
            <th scope="col">물품 번호</th>
            <th scope="col">물품 대분류</th>
            <th scope="col">물품 소분류</th>
            <th scope="col">물품명</th>
            <th scope="col">물품 코드</th>
            <th scope="col">대여일</th>
            <th scope="col">반납 예정일</th>
            <th scope="col">대여 사유</th>
            <th scope="col">반납</th>
        </tr>
        </thead>
        <tbody id="tr_rentInfoList">
        <% rentInfo.map(res => {%>
        <% let rentDate = res.rentDate.getFullYear()
                + "." + (res.rentDate.getMonth() + 1)
                + "." + res.rentDate.getDate()
                + " / " + res.rentDate.getHours()
                + " : " + res.rentDate.getMinutes()
        %>
        <% let returnPlanDate = res.returnPlanDate.getFullYear()
                + "." + (res.returnPlanDate.getMonth() + 1)
                + "." + res.returnPlanDate.getDate()
                + " / " + res.returnPlanDate.getHours()
                + " : " + res.returnPlanDate.getMinutes()
        %>
            <tr>
                <td><%=res.itemInfo.number%></td>
                <td><%=res.itemInfo.category.parentCategory%></td>
                <td><%=res.itemInfo.category.childCategory%></td>
                <td><%=res.itemInfo.name%></td>
                <td><%=res.itemInfo.code%></td>
                <td><%=rentDate%></td>
                <td><%=returnPlanDate%></td>
                <td><%=res.purpose%></td>
                <td><button onclick="returnItem('<%=res._id%>', '<%=res.itemInfo._id%>')">반납</button></td>
            </tr>
        <%});%>
        </tbody>
    </table>
</div>
<div class="returnInfoList">
    <table id="returnInfoListTable">
        <caption>대여 이력</caption>
        <thead>
        <tr>
            <th scope="col">물품 번호</th>
            <th scope="col">물품 대분류</th>
            <th scope="col">물품 소분류</th>
            <th scope="col">물품명</th>
            <th scope="col">물품 코드</th>
            <th scope="col">대여일</th>
            <th scope="col">반납일</th>
            <th scope="col">대여 사유</th>
            <th scope="col">반납</th>
        </tr>
        </thead>
        <tbody id="tr_returnInfoList">
        <% returnInfo.map(res => {%>
            <% let rentDate = res.rentDate.getFullYear()
                    + "." + (res.rentDate.getMonth() + 1)
                    + "." + res.rentDate.getDate()
                    + " / " + res.rentDate.getHours()
                    + " : " + res.rentDate.getMinutes()
            %>
            <% let returnDate = res.returnDate ?  (res.returnDate.getFullYear()
                    + "." + (res.returnDate.getMonth() + 1)
                    + "." + res.returnDate.getDate()
                    + " / " + res.returnDate.getHours()
                    + " : " + res.returnDate.getMinutes()) : null
            %>
            <tr>
                <td><%=res.itemInfo.number%></td>
                <td><%=res.itemInfo.category.parentCategory%></td>
                <td><%=res.itemInfo.category.childCategory%></td>
                <td><%=res.itemInfo.name%></td>
                <td><%=res.itemInfo.code%></td>
                <td><%=rentDate%></td>
                <td><%=returnDate%></td>
                <td><%=res.purpose%></td>
                <td>
                    <% if(res.itemInfo.available.return){ %>
                    반납완료
                    <%} else {%>
                    반납불필요
                    <%}%>
                </td>
            </tr>
        <%});%>
        </tbody>
    </table>
</div>
</body>
