<!--
    * 담당자 : 강재민
    * 설명 : 대여중인 물품과 본인 대여했던 물품에 대한 이력을 표시해주기 위한 컴포넌트
    * 주요기능 : 본인이 대여했던 혹은 대여중인 물품들에 대한 정보들을 모두 표시함
-->
<div class="rentRecordList">
    <table id="rentRecordListTable">
        <caption>물품 대여 이력</caption>
        <thead>
        <tr>
            <th scope="col">상태</th>
            <th scope="col">물품 대분류</th>
            <th scope="col">물품 소분류</th>
            <th scope="col">물품명</th>
            <th scope="col">물품 코드</th>
            <th scope="col">대여자명</th>
            <th scope="col">대여 사유</th>
            <th scope="col">대여일</th>
            <th scope="col">반납예정일</th>
            <th scope="col">반납일</th>
        </tr>
        </thead>
        <tbody>
        <% rentRecord.map(res => {%>
            <% let rentDate = res.rentDate.getFullYear()
                    + "년 " + (res.rentDate.getMonth() + 1)
                    + "월 " + res.rentDate.getDate()
                    + "일 " + res.rentDate.getHours()
                    + "시 " + res.rentDate.getMinutes() + "분"
            %>
            <% let returnPlanDate = res.returnPlanDate.getFullYear()
                    + "년 " + (res.returnPlanDate.getMonth() + 1)
                    + "월 " + res.returnPlanDate.getDate()
                    + "일 " + res.returnPlanDate.getHours()
                    + "시 " + res.returnPlanDate.getMinutes() + "분"
            %>
            <% let returnDate = res.returnDate ?
                    res.returnDate.getFullYear()
                    + "년 " + (res.returnDate.getMonth() + 1)
                    + "월 " + res.returnDate.getDate()
                    + "일  " + res.returnDate.getHours()
                    + "시  " + res.returnDate.getMinutes() + "분"
                    : "대여중"
            %>
            <tr>
                <td><%=res.rentStatus ? "대여" : "반납"%></td>
                <td><%=res.itemInfo.category.parentCategory%></td>
                <td><%=res.itemInfo.category.childCategory%></td>
                <td><%=res.itemInfo.name%></td>
                <td><%=res.itemInfo.code%></td>
                <td><%=res.userName%></td>
                <td><%=res.purpose%></td>
                <td><%=rentDate%></td>
                <td><%=returnPlanDate%></td>
                <td><%=returnDate%></td>
            </tr>
        <%});%>
        </tbody>
    </table>
</div>
