<!DOCTYPE html>
<html>
<head>
    <title>대여 현황</title>
    <script defer src="/javaScripts/rentalStatus.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/table.css' />
    <link rel='stylesheet' href='/stylesheets/rentalStatus.css'>
    <script defer src="https://code.jquery.com/jquery-3.6.1.js"></script>
</head>
<body>
<%- include('../layouts/nav.ejs')%>
<h1>대여 현황</h1>
<div class="rentalInfoList">
    <ul class="tab-container">
        <li class="tab-container__item active" data-tab="tab1">
            <a class="tab-container__item--title" href="#">대여 중 물품</a>
        </li>
        <li class="tab-container__item" data-tab="tab2">
            <a class="tab-container__item--title" href="#">대여 및 반납 물품</a>
        </li>
    </ul>
    <section class="content-container">
        <article id="tab1" class="content-container__content target">
            <p>
            <div class="rentalStatusBody">
                <div class="tableWrapper rentalList">
                    <table id="rentalStatusListTable">
                        <thead>
                        <tr>
                            <th scope="col">물품 대분류</th>
                            <th scope="col">물품 소분류</th>
                            <th scope="col">물품 이름</th>
                            <th scope="col">물품 코드</th>
                            <th scope="col">현재 대여자 이름</th>
                            <th scope="col">대여 사유</th>
                            <th scope="col">대여일</th>
                        </tr>
                        </thead>
                        <tbody id="tr_rentalList">
                        <% rentingInfo.map(res => {%>
                            <% let rentDate = res.rentDate.getFullYear()
                                    + "년 " + (res.rentDate.getMonth() + 1)
                                    + "월 " + res.rentDate.getDate()
                                    + "일 " + res.rentDate.getHours()
                                    + "시 " + res.rentDate.getMinutes() + "분"
                            %>
                            <tr>
                                <td><%=res.itemInfo.category.parentCategory%></td>
                                <td><%=res.itemInfo.category.childCategory%></td>
                                <td><%=res.itemInfo.name%></td>
                                <td><%=res.itemInfo.code%></td>
                                <td><%=res.userName%></td>
                                <td><%=res.purpose%></td>
                                <td><%=rentDate%></td>
                            </tr>
                        <%});%>
                        </tbody>
                    </table>
                </div>
            </div>
            </p>
        </article>
        <article id="tab2" class="content-container__content">
            <p>
            <div class="tableWrapper rentRecordList">
                <table id="rentRecordListTable">
                    <thead>
                    <tr>
                        <th scope="col">상태</th>
                        <th scope="col">물품 대분류</th>
                        <th scope="col">물품 소분류</th>
                        <th scope="col">물품명</th>
                        <th scope="col">물품 코드</th>
                        <th scope="col">대여자명</th>
                        <th scope="col">대여 사유</th>
                        <th scope="col">대여일</th>
                        <th scope="col">반납예정일</th>
                        <th scope="col">반납일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% rentRecord.map(res => {%>
                        <% let rentDate = res.rentDate.getFullYear()
                                + "년 " + (res.rentDate.getMonth() + 1)
                                + "월 " + res.rentDate.getDate()
                                + "일 " + res.rentDate.getHours()
                                + "시 " + res.rentDate.getMinutes() + "분"
                        %>
                        <% let returnPlanDate = res.returnPlanDate.getFullYear()
                                + "년 " + (res.returnPlanDate.getMonth() + 1)
                                + "월 " + res.returnPlanDate.getDate()
                                + "일 " + res.returnPlanDate.getHours()
                                + "시 " + res.returnPlanDate.getMinutes() + "분"
                        %>
                        <% let returnDate = res.returnDate ?
                                res.returnDate.getFullYear()
                                + "년 " + (res.returnDate.getMonth() + 1)
                                + "월 " + res.returnDate.getDate()
                                + "일  " + res.returnDate.getHours()
                                + "시  " + res.returnDate.getMinutes() + "분"
                                : "대여중"
                        %>
                        <tr>
                            <td><%=res.rentStatus ? "대여" : "반납"%></td>
                            <td><%=res.itemInfo.category.parentCategory%></td>
                            <td><%=res.itemInfo.category.childCategory%></td>
                            <td><%=res.itemInfo.name%></td>
                            <td><%=res.itemInfo.code%></td>
                            <td><%=res.userName%></td>
                            <td><%=res.purpose%></td>
                            <td><%=rentDate%></td>
                            <td><%=returnPlanDate%></td>
                            <td><%=returnDate%></td>
                        </tr>
                    <%});%>
                    </tbody>
                </table>
            </div>
            </p>
        </article>
    </section>
</div>
</body>
</html>